In [1]:
%load_ext autoreload
%autoreload 2


import os
import sys
import logging

module_path = os.path.abspath(os.path.join("./.."))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
def convert(imgf, labelf, outf, n):
    f = open(imgf, "rb")
    o = open(outf, "w")
    l = open(labelf, "rb")
    
    f.read(16)
    l.read(8)
    images = []
    
    for i in range(n):
        image = [ord(l.read(1))]
        for j in range(28*28):
            image.append(ord(f.read(1)))
        images.append(image)
            
    for image in images:
        o.write(",".join(str(pix) for pix in image)+"\n")
    f.close()
    o.close()
    l.close()
    
convert("train-images-idx3-ubyte", "train-labels-idx1-ubyte",
       "mnist_train.csv", 60000)
convert("t10k-images-idx3-ubyte", "t10k-labels-idx1-ubyte", 
        "mnist_test.csv", 10000)

In [7]:
import pandas as pd

df_orig_train = pd.read_csv('./mnist_train.csv', header=None)
df_orig_test = pd.read_csv('./mnist_test.csv', header=None)
df_orig_train.info()
df_orig_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Columns: 785 entries, 0 to 784
dtypes: int64(785)
memory usage: 359.3 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Columns: 785 entries, 0 to 784
dtypes: int64(785)
memory usage: 59.9 MB

In [8]:
print(df_orig_test)

      0    1    2    3    4    5    6    7    8    9    ...  775  776  777  \
0       7    0    0    0    0    0    0    0    0    0  ...    0    0    0
1       2    0    0    0    0    0    0    0    0    0  ...    0    0    0
2       1    0    0    0    0    0    0    0    0    0  ...    0    0    0
3       0    0    0    0    0    0    0    0    0    0  ...    0    0    0
4       4    0    0    0    0    0    0    0    0    0  ...    0    0    0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
9995    2    0    0    0    0    0    0    0    0    0  ...    0    0    0
9996    3    0    0    0    0    0    0    0    0    0  ...    0    0    0
9997    4    0    0    0    0    0    0    0    0    0  ...    0    0    0
9998    5    0    0    0    0    0    0    0    0    0  ...    0    0    0
9999    6    0    0    0    0    0    0    0    0    0  ...    0    0    0

      778  779  780  781  782  783  784
0       0    0    0    0    0    0    0
1       0    0    0    0    0    0    0
2       0    0    0    0    0    0    0
3       0    0    0    0    0    0    0
4       0    0    0    0    0    0    0
...   ...  ...  ...  ...  ...  ...  ...
9995    0    0    0    0    0    0    0
9996    0    0    0    0    0    0    0
9997    0    0    0    0    0    0    0
9998    0    0    0    0    0    0    0
9999    0    0    0    0    0    0    0

[10000 rows x 785 columns]

In [10]:
df_orig_train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0